@page "/customer/"
@using MovieRentalManagement.Shared.Domain
@using MovieRentalManagement.Client.Static
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<TitleComponent Title="Customers"></TitleComponent>

<a class="btn btn-outline-dark" href="/customers/create">Add Customers</a>

@if(customers == null){
    <div class="alert alert-info">Loading customers...</div>
}

else{
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Contact Number</th>
                <th>Email Address</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in customers){
                <tr>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Address</td>
                    <td>@item.EmailAddress</td>
                    <td>
                        <a href="/customer/view/@item.Id" class="btn btn-secondary">
                            <span class="oi oi-book"></span>    
                        </a>
                        <a href="/customer/edit/@item.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>

                        <button class="btn btn-danger" onclick="@(() => Delete(item.Id))">
                            <span class="oi oi-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    


}
