

<EditForm Model="@booking" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <fieldset disabled="@Disabled">
    <div class="form-group">
        <label>Movie: </label>

        <InputSelect @bind-Value="booking.MovieId" class="form-control">
            <option value="">--select a movie--</option>
            @if (movies != null)
            {
                foreach (var item in movies)
                {
                    <option value="@item.Id">@item.Genre.Name @item.Industry.Name | @item.MovieRecordNumber</option>
                }
            }

        </InputSelect>
        <ValidationMessage For="@(()=> booking.MovieId)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Customer: </label>

        <InputSelect @bind-Value="booking.CustomerId" class="form-control">
            <option value="">--select a customer--</option>
            @if (customers != null)
            {
                foreach (var item in customers)
                {
                    <option value="@item.Id">@item.TaxId ||@item.EmailAddress</option>
                }
            }

        </InputSelect>
        <ValidationMessage For="@(()=> booking.MovieId)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label>Date Out: </label>
        <div>
            <InputDate @bind-Value="@booking.DateOut" class="form-control"></InputDate>
            <ValidationMessage For="@(()=> booking.DateOut)"></ValidationMessage>
        </div>
    </div>
    </fieldset>


    @if(!Disabled){
    <button class="btn btn-outline-dark d-block">
        <span class="oi oi-arrow-right"></span>
        @ButtonText

    </button>

    }
  

    <BackToList Target="booking">

    </BackToList>

</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter]public Booking booking{ get; set; }
    [Parameter]public List<Movie> movies{ get; set;}
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter]public List<Customer> customers{ get; set; }
    [Parameter]public EventCallback OnValidSubmit{ get; set; }
}
